:root {
	--spacing: 40px;
	--card-radius: 20px;
	--content-padding: 20px;
	--background: #323232;
	--text-color: white;
	--surface-blur: blur(20px);
	--surface-fallback-1: rgb(34, 193, 195);
	--surface-gradient-1: linear-gradient(
		133deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
	--surface-fallback-2: rgb(179, 76, 172);
	--surface-gradient-2: linear-gradient(
		133deg,
		rgba(179, 76, 172, 1) 0%,
		rgba(188, 151, 195, 1) 100%
	);
	--surface-fallback-3: rgb(255, 137, 135);
	--surface-gradient-3: linear-gradient(
		117deg,
		rgba(255, 137, 135, 1) 25%,
		rgba(251, 246, 131, 1) 72%
	);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: var(--spacing);
	background: var(--background);
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	max-width: 1920px;
	gap: var(--spacing);
}

main {
	display: flex;
	flex-flow: row wrap;
	gap: var(--spacing);
	justify-content: space-between;
}

.column {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	gap: var(--spacing);
}

.card {
	flex-grow: 1;
	color: var(--text-color);
	border-radius: var(--card-radius);
}

.half {
	aspect-ratio: 2/1;
	flex-grow: 0.5;
}

.single {
	aspect-ratio: 1;
	flex-grow: 1;
}

.double {
	aspect-ratio: 1/2;
	flex-grow: 2;
}

.surface-1 {
	background: var(--surface-fallback-1);
	background: var(--surface-gradient-1);
}

.surface-2 {
	background: var(--surface-fallback-2);
	background: var(--surface-gradient-2);
}

.surface-3 {
	background: var(--surface-fallback-3);
	background: var(--surface-gradient-3);
}

.content-wrapper {
	width: 100%;
	height: 100%;
	border-radius: var(--card-radius);
	padding: var(--content-padding);
	backdrop-filter: blur(20px);
	background-color: #ffffff50;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: var(--spacing);
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

nav li:first-child {
	flex-basis: 100%;
}

nav ul li {
	display: inline-block;
}

nav a {
	display: block;
}

@media screen and (max-width: 1200px) {
	.column {
		flex-basis: calc(50% - var(--spacing));
	}
}

@media screen and (max-width: 768px) {
	nav li {
		flex-basis: 100%;
	}

	.column {
		flex-basis: 100%;
	}
}
