:root {
	--spacing: 40px;
	--card-radius: 20px;
	--content-padding: 30px;
	--card-inner-gap: 10px;
	/* --background: #323232; */
	--background: rgb(25, 25, 25);
	--text-color: white;
	--mono: "Ubuntu Mono", monospace;
	--surface-blur: blur(20px);
	--surface-fallback-1: rgb(34, 193, 195);
	--surface-gradient-1: linear-gradient(
		133deg,
		rgba(34, 193, 195, 1) 0%,
		rgb(255, 253, 136) 100%
	);
	--surface-fallback-2: rgb(179, 76, 172);
	--surface-gradient-2: linear-gradient(
		133deg,
		rgba(179, 76, 172, 1) 0%,
		rgb(218, 209, 220) 100%
	);
	--surface-fallback-3: rgb(255, 137, 135);
	--surface-gradient-3: linear-gradient(
		117deg,
		rgba(255, 137, 135, 1) 25%,
		rgb(255, 213, 123) 72%
	);
	--surface-fallback-4: rgb(58, 159, 248);
	--surface-gradient-4: linear-gradient(
		117deg,
		rgb(58, 159, 248) 0%,
		rgb(87, 238, 238) 100%
	);
	--surface: #646464;
	--primary: lightsalmon;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: var(--spacing);
	background: var(--background);
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	max-width: 1920px;
	line-height: 1.5em;
	gap: var(--spacing);
	font-family: var(--mono);
}

main {
	display: flex;
	flex-flow: row wrap;
	gap: var(--spacing);
	justify-content: space-between;
	min-height: calc(100vh - (2 * var(--spacing)));
}

.column {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	flex-basis: calc(25% - var(--spacing));
	gap: var(--spacing);
}

.card {
	flex-grow: 1;
	color: var(--text-color);
	border-radius: var(--card-radius);
	background: var(--surface);
	border-radius: var(--card-radius);
	padding: var(--content-padding);
	--box-shadow-color: var(--primary);
	transition: 300ms ease;
	display: flex;
	flex-flow: column nowrap;
	gap: var(--card-inner-gap);
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	color: var(--primary);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.15em;
	color: var(--text-color);
}

h3 {
	font-size: 2rem;
	line-height: 1.15em;
}

p,
ul,
label,
input,
textarea {
	font-size: 1.5rem;
	line-height: 1.5em;
}

ul {
	margin-left: var(--content-padding);
}

img {
	width: 100%;
	border-radius: var(--card-radius);
}

.quarter {
	aspect-ratio: 4/1;
	flex-grow: 0.25;
	justify-content: center;
}

.half {
	aspect-ratio: 2/1;
	flex-grow: 0.5;
}

.single {
	aspect-ratio: 1;
	flex-grow: 1;
}

.surface-1 {
	background: var(--surface-fallback-1);
	background: var(--surface-gradient-1);
	--box-shadow-color: var(--surface-fallback-1);
}

.surface-2 {
	background: var(--surface-fallback-2);
	background: var(--surface-gradient-2);
	--box-shadow-color: var(--surface-fallback-2);
}

.surface-3 {
	background: var(--surface-fallback-3);
	background: var(--surface-gradient-3);
	--box-shadow-color: var(--surface-fallback-3);
}

.surface-4 {
	background: var(--surface-fallback-4);
	background: var(--surface-gradient-4);
	--box-shadow-color: var(--surface-fallback-4);
}

.link-to {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card:hover {
	transform: scale(0.9);
	box-shadow: var(--box-shadow-color) 0 0 10px 5px;
}

form {
	display: flex;
	flex-flow: column wrap;
}

textarea {
	resize: none;
	padding: var(--card-inner-gap);
}

input {
	padding: 0 var(--card-inner-gap) 0;
}

input,
textarea,
message,
button {
	border-radius: var(--card-radius);
	border: none;
	outline: none;
}

input:focus {
	border: none;
}

button:hover {
	background-color: var(--primary);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate {
	background-size: 200% 200%;
	animation: gradient 5s ease infinite;
}

@media screen and (max-width: 1600px) {
	.column {
		flex-basis: calc(50% - var(--spacing));
	}
}

@media screen and (max-width: 850px) {
	.column {
		flex-basis: 100%;
	}
}
