:root {
	--spacing: 40px;
	--card-radius: 20px;
	--content-padding: 20px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: var(--content-padding);
	background-color: grey;
	display: flex;
	flex-flow: column nowrap;
	gap: var(--spacing);
}

main {
	display: flex;
	flex-flow: row wrap;
	gap: var(--spacing);
	justify-content: space-between;
}

.column {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	gap: var(--spacing);
}

.card {
	background-color: transparent;
	flex-grow: 1;
	color: black;
	padding: var(--content-padding);
	border: solid 2px black;
	border-radius: var(--card-radius);
	min-width: 200px;
	aspect-ratio: 1;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: transparent;
	flex-grow: 1;
	color: black;
	padding: var(--content-padding);
	border: solid 2px black;
	border-radius: var(--card-radius);
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: var(--spacing);
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

nav li:first-child {
	flex-basis: 100%;
}

nav ul li {
	display: inline-block;
}

nav a {
	display: block;
}

@media screen and (max-width: 768px) {
	nav li {
		flex-basis: 100%;
	}
}
